---
layout: default
---

<!--
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

newarch

<div id="main" role="main">

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    { content }
  </div>
</div>
-->

<div class="wrapper">
<div class="page">

  <header class="post-header">
    <h1 class="post-title">Posts in "{{ page.title | capitalize }}"</h1>
  </header>


  <article class="post-content">
	  hello postcontent
	  {{  content }}
	  <!--
    <ul class="posts-list">
      % for post in page.posts %
      <li><strong><a class="post-link" href="{ post.url | prepend: site.baseurl }">{ post.title }</a></strong><span class="post-date"> - { post.date | date: "%B %-d, %Y" }</span></li>
      % endfor %
    </ul>
	  -->
  </article>

</div>
</div>
<br>



